certifi>=2025.10.5
cftime>=1.6.4
charset-normalizer>=3.3.2
GDAL==3.4.1
global-land-mask>=1.0.0
h5py>=3.12.0
idna>=3.7
lxml>=5.0
netCDF4>=1.7.2
numpy>=1.26.4
pyhdf>=0.11.6
pyproj>=3.6.1
requests>=2.32.3
scipy>=1.15.3
urllib3>=2.3.0
